@charset "UTF-8";

body {
  font-family: 'Titillium Web', sans-serif;
}

.h1 {

}

.h2 {
  color:

}


.wrapper{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows:  100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-gap: 1px;

}

.logo {
  display: flex;
  justify-content: center;
  height: 400px;
}


#my-svg{
  grid-column-start: 5;

}



.box {
  /*border: solid 2px black;*/

}
/* el conteo es por lineas, no por filas o columnas */
.gifportafolioindex {
  grid-column-start: 4;
  grid-row-start: 8;

}

.portafoliolink {
  padding: 70px;
  color: white;
  font-size: 20px;
  background-color: rgb(255, 198, 211);
  grid-column: 2 / 6;
  grid-row: 9 / 13;

}

.viewmouseover {
  padding-top: 130px;
  text-decoration: none;
}

.readmouseover {
  font-size: 20px;
  text-decoration: none;
}



.hello {
  /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end;*/
  color: gray;
  font-size: 30px;
  grid-area: 2 / 2 / 3 /12;
}

 a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: inherit;

}

.separador1 {
  grid-column-start: 5;
  grid-row-start: 4;
}

.separador2 {
  grid-column-start: 5;
  grid-row-start: 14;
}

.six {

}

.contact{
  grid-column-start: 3;
  grid-row-start: 17;
  background-color: pink;
	/*box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);*/
	text-align: center;
	margin: 3em auto;
	background: rgba(255, 255, 255, 0.95);
	height: 500px;
	width: 800px;
	/*padding: 1em;*/


}

.contact h2 {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	letter-spacing: 2px;
	font-size: 3.5em;
	margin: 0;

}

.contact h3 {
	padding: 10px;
	font-size: 30px;
	color: #7d7d7d;
}

.contact p {
	margin: 3px 0 1.5em 0;
	font-size: 1.3em;
	color: #7d7d7d;
}

.contact input {
/* 	background: rgba(255, 13, 254, 0.90); */
	width: 210px;
	display: inline-block;
	text-align: center;
	border-radius: 7px 0px 0px 7px;
	background: #eee;
	padding: 1em 2em;
	outline: none;
	border: 5px;
	color: #222;
	transition: 0.3s linear;
}
::placeholder{color: #999;}
.contact input:focus {background: white; border-color: gray;}

.contact button {
  width: 80px;
	display: inline-block;
	text-align: center;
	border-radius: 0px 7px 7px 0px;
	background: #cccccc;
	padding: 1em 1em;
	outline: none;
	border: none;
	color: #222;
	transition: 0.3s linear;
}
.contact button:hover{transform: translatex(2px);}
.contact button:active{transform: translatex(5px);}

.contact form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.contact .contactbutton {
	background-image: linear-gradient(to left, #f1b7e4 0%, #f5bbae 100%);
  width: 210px;
	display: inline-block;
	text-align: center;
	box-shadow: 0 9px 25px -5px gray;
	padding: 0.5em 1.9em;
	margin: 2.3em 0 0 0;
	border-radius: 7px;
	font-size: 1.4em;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 1em;
	outline: none;
	border: none;
	transition: 0.3s linear;

}
.contact .contactbutton:hover{transform: translatey(2px);}
.contact .contactbutton:active{transform: translatey(5px);}
