@charset "UTF-8";

.h1 {
  
}

.h2 {
  color:

}


.wrapper{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows:  100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-gap: 1px;
}

.box {

}
/* el conteo es por lineas, no por filas o columnas */
.one {
  grid-column-start: 3;
  grid-row-start: 2;

}

.two {
  padding: 70px;
  color: white;
  font-size: 20px;
  background-color: rgb(255, 198, 211);
  grid-column: 2 / 6;
  grid-row: 3 / 7;

}

.three {
  /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end;*/
  grid-area: 2 / 3 / 3 /4;
}
.four {
  /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end;*/
  grid-area: 1 / 4 / 4 /5;
}

.five {
  grid-column-start: 3;
  grid-row-start: 4;
}

.six {

}
