@charset "UTF-8";

.h1 {

}

.h2 {
  color:

}


.wrapper{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows:  100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-gap: 1px;

}

#my-svg{
  grid-column-start: 5;
}



.box {
  /*border: solid 2px black;*/

}
/* el conteo es por lineas, no por filas o columnas */
.gifportafolioindex {
  grid-column-start: 4;
  grid-row-start: 8;

}

.portafoliolink {
  padding: 70px;
  color: white;
  font-size: 20px;
  background-color: rgb(255, 198, 211);
  grid-column: 2 / 6;
  grid-row: 9 / 13;

}

.hello {
  /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end;*/
  color: gray;
  font-size: 30px;
  grid-area: 2 / 2 / 3 /12;
}
.separador1 {
  grid-column-start: 5;
  grid-row-start: 4;
}

.separador2 {
  grid-column-start: 5;
  grid-row-start: 14;
}

.six {

}
